*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    margin-right: 50px;
    margin-left: 50px;
}

.image{
    background-color: white;
    border-right: 2px solid rgb(145, 141, 141);
}

.content{
    margin-left: 70px;
    margin-top: 20px;
    width: 1394px;
}

.col-2-item{
    margin-bottom: 20px;
}




#btn-today{
    width: 15px;
    border: 1px;
    background-color: rgb(246, 71, 71);
    border-radius: 3px;
    height: 25px;
    margin-right: 14px;
}

.first_layout{
    margin-top: 20px;
    background-color: white;
}

.item-img-product{
    margin-left: 75px;
}


ul.products{
    padding-left: 0px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.products li{
    flex-basis: 20%;    
}

.item{
    width: 320px;
    height: 295px;
}

ul.products li .product-top .product-thumb{
    display: block;
}

ul.products li .product-top .product-thumb img{
    display: block;
}
ul.products li .product-top{
    position: relative;
    overflow: hidden;
}

ul.products li .product-top a.buy-now{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: #446084;
    color: white;
    padding: 10px 0px;
    position: absolute;
    bottom: -36;
    width: 100%;
    transition: 0.5s ease-in-out;
    opacity: 0.85;
}

ul.products li:hover a.buy-now{
    bottom: 0px;
}

ul.products li:hover .product-top .product-thumb img{
    filter: brightness(80%);
}

ul.products li .product-infor{
    padding: 10px 0px;
}

ul.products li .product-infor a{
    display: block;
    text-decoration: none;
}


ul.products li .product-infor a.product-name{
    color: black;
    font-size: 18px;
}

ul.products li .product-infor .product-price{
    color: rgb(219, 99, 99);
    font-size: 16px;
    padding: 2px;
}

ul.products li .product-infor a.product-rating{
    width: 200px;
    padding: 2px;
}

#btn-center{
    margin-top: 40px;
    width: 126px;
    border: 1px;
    background-color: rgb(246, 71, 71);
    border-radius: 3px;
    height: 34px;
}

#btn_viewall{
    width: 130px;
    height: 40px;
}
#btn_viewall{
    margin-left: 555px;
    color: white;
    background-color: rgb(238, 71, 71);
    border-radius: 3px;
    border: 1px;
}

.border{
    border: 0px;
}

.small_img{
    margin-left: 12px;
    margin-top: 12px;
}


.border_img{
    width: 697px;
    height: 265px;
    background-color: black;
}

.row_two_img{
    display: flex;
    justify-content: space-around;
}

.text-reset-while{
    color: white;
}

#txt_last{
    background-color: black;
    border: 1px solid white;
}

.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }

 .csw-btn-button{
    width: 90px;
    border-radius: 50px;
    background-color: rgb(20, 6, 6);
    color: white;
    margin-top: 5px;
 }   